In [1]:
import pandas as pd

In [2]:
!cat olympics.csv

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Djibouti (DJI) [B],7,0,0,1,1,0,0,0,0,0,7,0,0,1,1
Dominican Republic (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
Ecuador (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
Egypt (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
Eritrea (ERI),4,0,0,1,1,0,0,0,0,0,4,0,0,1,1
Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Ethiopia (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
Gabon (GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Georgia (GEO),5,6,5,14,25,6,0,0,0,0,11,6,5,14,25
Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
Ghana (GHA) [GHA],13,0,1,3,4,1,0,0,0,0,14,0,1,3,4
Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
Greece (GRE) [Z],27,30,42,39,111,18,0,0,0,0,45,30,42,39,111
Grenada (GRN),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
Guatemala (GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
Guyana (GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
Haiti (HAI) [J],14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
Hong Kong (HKG) [HKG],15,1,1,1,3,4,0,0,0,0,19,1,1,1,3
Hungary (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
Iceland (ISL),19,0,2,2,4,17,0,0,0,0,36,0,2,2,4
India (IND) [F],23,9,6,11,26,9,0,0,0,0,32,9,6,11,26
Indonesia (INA),14,6,10,11,27,0,0,0,0,0,14,6,10,11,27
Iran (IRI) [K],15,15,20,25,60,10,0,0,0,0,25,15,20,25,60
Iraq (IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
Ireland (IRL),20,9,8,12,29,6,0,0,0,0,26,9,8,12,29
Israel (ISR),15,1,1,5,7,6,0,0,0,0,21,1,1,5,7
Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
Jamaica (JAM) [JAM],16,17,30,20,67,7,0,0,0,0,23,17,30,20,67
Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
Kazakhstan (KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
Kenya (KEN),13,25,32,29,86,3,0,0,0,0,16,25,32,29,86
North Korea (PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
Kuwait (KUW),12,0,0,2,2,0,0,0,0,0,12,0,0,2,2
Kyrgyzstan (KGZ),5,0,1,2,3,6,0,0,0,0,11,0,1,2,3
Latvia (LAT),10,3,11,5,19,10,0,4,3,7,20,3,15,8,26
Lebanon (LIB),16,0,2,2,4,16,0,0,0,0,32,0,2,2,4
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9
Lithuania (LTU),8,6,5,10,21,8,0,0,0,0,16,6,5,10,21
Luxembourg (LUX) [O],22,1,1,0,2,8,0,2,0,2,30,1,3,0,4
Macedonia (MKD),5,0,0,1,1,5,0,0,0,0,10,0,0,1,1
Malaysia (MAS) [MAS],12,0,3,3,6,0,0,0,0,0,12,0,3,3,6
Mauritius (MRI),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Mexico (MEX),22,13,21,28,62,8,0,0,0,0,30,13,21,28,62
Moldova (MDA),5,0,2,5,7,6,0,0,0,0,11,0,2,5,7
Mongolia (MGL),12,2,9,13,24,13,0,0,0,0,25,2,9,13,24
Montenegro (MNE),2,0,1,0,1,2,0,0,0,0,4,0,1,0,1
Morocco (MAR),13,6,5,11,22,6,0,0,0,0,19,6,5,11,22
Mozambique (MOZ),9,1,0,1,2,0,0,0,0,0,9,1,0,1,2
Namibia (NAM),6,0,4,0,4,0,0,0,0,0,6,0,4,0,4
Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
Netherlands Antilles (AHO) [AHO] [I],13,0,1,0,1,2,0,0,0,0,15,0,1,0,1
New Zealand (NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
Niger (NIG),11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Nigeria (NGR),15,3,8,12,23,0,0,0,0,0,15,3,8,12,23
Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
Pakistan (PAK),16,3,3,4,10,2,0,0,0,0,18,3,3,4,10
Panama (PAN),16,1,0,2,3,0,0,0,0,0,16,1,0,2,3
Paraguay (PAR),11,0,1,0,1,1,0,0,0,0,12,0,1,0,1
Peru (PER) [L],17,1,3,0,4,2,0,0,0,0,19,1,3,0,4
Philippines (PHI),20,0,2,7,9,4,0,0,0,0,24,0,2,7,9
Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
Portugal (POR),23,4,8,11,23,7,0,0,0,0,30,4,8,11,23
Puerto Rico (PUR),17,0,2,6,8,6,0,0,0,0,23,0,2,6,8
Qatar (QAT),8,0,0,4,4,0,0,0,0,0,8,0,0,4,4
Romania (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian Empire (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Saudi Arabia (KSA),10,0,1,2,3,0,0,0,0,0,10,0,1,2,3
Senegal (SEN),13,0,1,0,1,5,0,0,0,0,18,0,1,0,1
Serbia (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
Singapore (SIN),15,0,2,2,4,0,0,0,0,0,15,0,2,2,4
Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South Africa (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [4]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

In [9]:
names_ids = df.index.str.split('\s\(')
names_ids

Index([                           ['Afghanistan', 'AFG)'],
                                      ['Algeria', 'ALG)'],
                                    ['Argentina', 'ARG)'],
                                      ['Armenia', 'ARM)'],
                            ['Australasia', 'ANZ) [ANZ]'],
                          ['Australia', 'AUS) [AUS] [Z]'],
                                      ['Austria', 'AUT)'],
                                   ['Azerbaijan', 'AZE)'],
                                      ['Bahamas', 'BAH)'],
                                      ['Bahrain', 'BRN)'],
       ...
                                   ['Uzbekistan', 'UZB)'],
                                    ['Venezuela', 'VEN)'],
                                      ['Vietnam', 'VIE)'],
                               ['Virgin Islands', 'ISV)'],
                             ['Yugoslavia', 'YUG) [YUG]'],
       ['Independent Olympic Participants', 'IOP) [IOP]'],
                                 ['Zambia', 'ZAM) [ZAM]'],
                               ['Zimbabwe', 'ZIM) [ZIM]'],
                             ['Mixed team', 'ZZX) [ZZX]'],
                                               ['Totals']],
      dtype='object', length=147)

In [6]:
df.index

Index(['Afghanistan (AFG)', 'Algeria (ALG)', 'Argentina (ARG)',
       'Armenia (ARM)', 'Australasia (ANZ) [ANZ]', 'Australia (AUS) [AUS] [Z]',
       'Austria (AUT)', 'Azerbaijan (AZE)', 'Bahamas (BAH)', 'Bahrain (BRN)',
       ...
       'Uzbekistan (UZB)', 'Venezuela (VEN)', 'Vietnam (VIE)',
       'Virgin Islands (ISV)', 'Yugoslavia (YUG) [YUG]',
       'Independent Olympic Participants (IOP) [IOP]', 'Zambia (ZAM) [ZAM]',
       'Zimbabwe (ZIM) [ZIM]', 'Mixed team (ZZX) [ZZX]', 'Totals'],
      dtype='object', length=147)

In [7]:
df.index.str.split('\(')

Index([                           ['Afghanistan ', 'AFG)'],
                                      ['Algeria ', 'ALG)'],
                                    ['Argentina ', 'ARG)'],
                                      ['Armenia ', 'ARM)'],
                            ['Australasia ', 'ANZ) [ANZ]'],
                          ['Australia ', 'AUS) [AUS] [Z]'],
                                      ['Austria ', 'AUT)'],
                                   ['Azerbaijan ', 'AZE)'],
                                      ['Bahamas ', 'BAH)'],
                                      ['Bahrain ', 'BRN)'],
       ...
                                   ['Uzbekistan ', 'UZB)'],
                                    ['Venezuela ', 'VEN)'],
                                      ['Vietnam ', 'VIE)'],
                               ['Virgin Islands ', 'ISV)'],
                             ['Yugoslavia ', 'YUG) [YUG]'],
       ['Independent Olympic Participants ', 'IOP) [IOP]'],
                                 ['Zambia ', 'ZAM) [ZAM]'],
                               ['Zimbabwe ', 'ZIM) [ZIM]'],
                             ['Mixed team ', 'ZZX) [ZZX]'],
                                                ['Totals']],
      dtype='object', length=147)

In [8]:
df.index.str.split('\s\(')

Index([                           ['Afghanistan', 'AFG)'],
                                      ['Algeria', 'ALG)'],
                                    ['Argentina', 'ARG)'],
                                      ['Armenia', 'ARM)'],
                            ['Australasia', 'ANZ) [ANZ]'],
                          ['Australia', 'AUS) [AUS] [Z]'],
                                      ['Austria', 'AUT)'],
                                   ['Azerbaijan', 'AZE)'],
                                      ['Bahamas', 'BAH)'],
                                      ['Bahrain', 'BRN)'],
       ...
                                   ['Uzbekistan', 'UZB)'],
                                    ['Venezuela', 'VEN)'],
                                      ['Vietnam', 'VIE)'],
                               ['Virgin Islands', 'ISV)'],
                             ['Yugoslavia', 'YUG) [YUG]'],
       ['Independent Olympic Participants', 'IOP) [IOP]'],
                                 ['Zambia', 'ZAM) [ZAM]'],
                               ['Zimbabwe', 'ZIM) [ZIM]'],
                             ['Mixed team', 'ZZX) [ZZX]'],
                                               ['Totals']],
      dtype='object', length=147)

In [10]:
names_ids.str[0]

Index(['Afghanistan', 'Algeria', 'Argentina', 'Armenia', 'Australasia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       ...
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Virgin Islands', 'Yugoslavia',
       'Independent Olympic Participants', 'Zambia', 'Zimbabwe', 'Mixed team',
       'Totals'],
      dtype='object', length=147)

In [11]:
df.index = names_ids.str[0]
df.index

Index(['Afghanistan', 'Algeria', 'Argentina', 'Armenia', 'Australasia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       ...
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Virgin Islands', 'Yugoslavia',
       'Independent Olympic Participants', 'Zambia', 'Zimbabwe', 'Mixed team',
       'Totals'],
      dtype='object', length=147)

In [13]:
names_ids.str[1].str[:3]

Index(['AFG', 'ALG', 'ARG', 'ARM', 'ANZ', 'AUS', 'AUT', 'AZE', 'BAH', 'BRN',
       ...
       'UZB', 'VEN', 'VIE', 'ISV', 'YUG', 'IOP', 'ZAM', 'ZIM', 'ZZX',   nan],
      dtype='object', length=147)

In [14]:
df['ID']=names_ids.str[1].str[:3]
df['ID']

Afghanistan                         AFG
Algeria                             ALG
Argentina                           ARG
Armenia                             ARM
Australasia                         ANZ
Australia                           AUS
Austria                             AUT
Azerbaijan                          AZE
Bahamas                             BAH
Bahrain                             BRN
Barbados                            BAR
Belarus                             BLR
Belgium                             BEL
Bermuda                             BER
Bohemia                             BOH
Botswana                            BOT
Brazil                              BRA
British West Indies                 BWI
Bulgaria                            BUL
Burundi                             BDI
Cameroon                            CMR
Canada                              CAN
Chile                               CHI
China                               CHN
Colombia                            COL
Costa Rica                          CRC
Ivory Coast                         CIV
Croatia                             CRO
Cuba                                CUB
Cyprus                              CYP
                                   ...
Sri Lanka                           SRI
Sudan                               SUD
Suriname                            SUR
Sweden                              SWE
Switzerland                         SUI
Syria                               SYR
Chinese Taipei                      TPE
Tajikistan                          TJK
Tanzania                            TAN
Thailand                            THA
Togo                                TOG
Tonga                               TGA
Trinidad and Tobago                 TRI
Tunisia                             TUN
Turkey                              TUR
Uganda                              UGA
Ukraine                             UKR
United Arab Emirates                UAE
United States                       USA
Uruguay                             URU
Uzbekistan                          UZB
Venezuela                           VEN
Vietnam                             VIE
Virgin Islands                      ISV
Yugoslavia                          YUG
Independent Olympic Participants    IOP
Zambia                              ZAM
Zimbabwe                            ZIM
Mixed team                          ZZX
Totals                              NaN
Name: ID, dtype: object

In [16]:
df.index

Index(['Afghanistan', 'Algeria', 'Argentina', 'Armenia', 'Australasia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       ...
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Virgin Islands', 'Yugoslavia',
       'Independent Olympic Participants', 'Zambia', 'Zimbabwe', 'Mixed team',
       'Totals'],
      dtype='object', length=147)

In [19]:
df['ID','Gold']

KeyError: ('ID', 'Gold')

In [20]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [33]:
df = df.reset_index()
df

,Gold,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
0,0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
1,0,16,2,0,2,0,0,0,0,0,16,0,2,0,2,SRI
2,0,15,2,2,4,0,0,0,0,0,15,0,2,2,4,SIN
3,0,16,2,2,4,16,0,0,0,0,32,0,2,2,4,LIB
4,0,13,1,0,1,5,0,0,0,0,18,0,1,0,1,SEN
5,0,10,1,2,3,0,0,0,0,0,10,0,1,2,3,KSA
6,0,9,1,0,1,0,0,0,0,0,9,0,1,0,1,GAB
7,0,8,0,4,4,0,0,0,0,0,8,0,0,4,4,QAT
8,0,17,2,6,8,6,0,0,0,0,23,0,2,6,8,PUR
9,0,20,2,7,9,4,0,0,0,0,24,0,2,7,9,PHI
10,0,13,1,3,4,1,0,0,0,0,14,0,1,3,4,GHA
11,0,11,1,0,1,1,0,0,0,0,12,0,1,0,1,PAR
12,0,13,1,0,1,1,0,0,0,0,14,0,1,0,1,GUA
13,0,7,0,1,1,0,0,0,0,0,7,0,0,1,1,DJI
14,0,16,0,1,1,0,0,0,0,0,16,0,0,1,1,GUY
15,0,19,2,2,4,17,0,0,0,0,36,0,2,2,4,ISL
16,0,11,0,1,1,0,0,0,0,0,11,0,0,1,1,NIG
17,0,13,1,0,1,2,0,0,0,0,15,0,1,0,1,AHO
18,0,13,0,1,1,0,0,0,0,0,13,0,0,1,1,IRQ
19,0,6,4,0,4,0,0,0,0,0,6,0,4,0,4,NAM
20,0,2,1,0,1,2,0,0,0,0,4,0,1,0,1,MNE
21,0,5,2,5,7,6,0,0,0,0,11,0,2,5,7,MDA
22,0,8,0,1,1,0,0,0,0,0,8,0,0,1,1,MRI
23,0,12,3,3,6,0,0,0,0,0,12,0,3,3,6,MAS
24,0,5,0,1,1,5,0,0,0,0,10,0,0,1,1,MKD
25,0,12,0,2,2,0,0,0,0,0,12,0,0,2,2,KUW
26,0,5,1,2,3,6,0,0,0,0,11,0,1,2,3,KGZ
27,0,14,1,1,2,0,0,0,0,0,14,0,1,1,2,HAI
28,0,11,1,0,1,0,0,0,0,0,11,0,1,0,1,SUD
29,0,4,0,1,1,0,0,0,0,0,4,0,0,1,1,ERI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,39,21,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR
118,42,22,18,39,99,15,0,1,0,1,37,42,19,39,100,NZL
119,43,26,68,68,179,13,0,1,0,1,39,43,69,68,180,DEN
120,45,1,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN
121,47,27,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI
122,49,16,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH
123,51,19,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL
124,56,5,67,81,204,6,11,15,13,39,11,67,82,94,243,FRG
125,56,24,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR
126,59,25,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN
127,64,20,82,125,271,22,6,7,7,20,42,70,89,132,291,POL
128,72,19,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB
129,77,25,85,104,266,20,37,38,35,110,45,114,123,139,376,NED
130,81,16,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR
131,88,20,94,119,301,20,0,0,1,1,40,88,94,120,302,ROU
132,101,24,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN
133,130,21,126,142,398,20,10,17,18,45,41,140,143,160,443,JPN
134,132,5,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS
135,139,25,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
136,143,26,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE
137,153,5,129,127,409,6,39,36,35,110,11,192,165,162,519,GDR
138,167,25,144,165,476,22,0,2,4,6,47,167,146,169,482,HUN
139,174,15,182,217,573,11,78,78,53,209,26,252,260,270,782,GER
140,198,26,166,185,549,22,37,34,43,114,48,235,200,228,663,ITA
141,201,9,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN
142,202,27,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA
143,236,27,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR
144,395,9,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS
145,976,26,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA
146,4809,27,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,NaN

In [34]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [38]:
tmp = df.sort_values(by="Gold",ascending=0).iloc[0]
tmp

# Summer            26
Gold               976
Silver             757
Bronze             666
Total             2399
# Winter            22
Gold.1              96
Silver.1           102
Bronze.1            84
Total.1            282
# Games             48
Gold.2            1072
Silver.2           859
Bronze.2           750
Combined total    2681
ID                 USA
Name: United States, dtype: object