In [1]:
import pandas as pd

In [2]:
!ls

Assignment 2.ipynb	exercise.csv	  university_towns.txt
Assignment 3.ipynb	gdplev.xls	  Untitled.ipynb
Assignment 4.ipynb	grades.csv	  Week 1.ipynb
cars.csv		log.csv		  Week 2.ipynb
census.csv		log.txt		  Week 3.ipynb
City_Zhvi_AllHomes.csv	mpg.csv		  Week 4.ipynb
CO-EST2015-alldata.pdf	olympics.csv	  world_bank.csv
Energy Indicators.xls	scimagojr-3.xlsx

In [3]:
data = pd.read_csv("exercise.csv",skiprows=2,index_col=0)

In [4]:
!cat exercise.csv

Exercise CSV,,,
Week 1 Exercises,,,
Activity ID,Activity Type, Activity Duration, Calories
125,Running,65,450
126,Biking,40,280
127,Running,90,850
128,Walking,30,160

In [5]:
!ls

Assignment 2.ipynb	exercise.csv	  university_towns.txt
Assignment 3.ipynb	gdplev.xls	  Untitled.ipynb
Assignment 4.ipynb	grades.csv	  Week 1.ipynb
cars.csv		log.csv		  Week 2.ipynb
census.csv		log.txt		  Week 3.ipynb
City_Zhvi_AllHomes.csv	mpg.csv		  Week 4.ipynb
CO-EST2015-alldata.pdf	olympics.csv	  world_bank.csv
Energy Indicators.xls	scimagojr-3.xlsx

In [6]:
!cat exercise.csv

0,1,2,3,4
Exercise CSV,,,
Week 1 Exercises,,,
Activity ID,Activity Type, Activity Duration, Calories
125,Running,65,450
126,Biking,40,280
127,Running,90,850
128,Walking,30,160

In [7]:
data = pd.read_csv('exercise.csv',skiprows=2,index_col=0)

In [8]:
data

                     Unnamed: 1          Unnamed: 2 Unnamed: 3
Week 1 Exercises
Activity ID       Activity Type   Activity Duration   Calories
125                     Running                  65        450
126                      Biking                  40        280
127                     Running                  90        850
128                     Walking                  30        160

In [9]:
data = pd.read_csv('exercise.csv',skiprows=3,index_col=0)

In [10]:
data

            Activity Type   Activity Duration   Calories
Activity ID
125               Running                  65        450
126                Biking                  40        280
127               Running                  90        850
128               Walking                  30        160

In [11]:
!cat exercise.csv

Exercise CSV,,,
Week 1 Exercises,,,
Activity ID,Activity Type, Activity Duration, Calories
125,Running,65,450
126,Biking,40,280
127,Running,90,850
128,Walking,30,160

In [12]:
data = pd.read_csv('exercise.csv',skiprows=2,index_col=1)
data

               Activity ID   Activity Duration   Calories
Activity Type
Running                125                  65        450
Biking                 126                  40        280
Running                127                  90        850
Walking                128                  30        160

In [13]:
data = pd.read_csv('exercise.csv',skiprows=2,index_col=0)
data

            Activity Type   Activity Duration   Calories
Activity ID
125               Running                  65        450
126                Biking                  40        280
127               Running                  90        850
128               Walking                  30        160

In [14]:
data = pd.read_csv('exercise.csv',skiprows=2,sep=',')
data

   Activity ID Activity Type   Activity Duration   Calories
0          125       Running                  65        450
1          126        Biking                  40        280
2          127       Running                  90        850
3          128       Walking                  30        160

In [15]:
data = pd.read_excel('exercise.csv',skiprows=2,index_col=0)
data

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'Exercise'

In [16]:
data = pd.read_csv('exercise.csv',skiprows=2,index_col=0)
data

            Activity Type   Activity Duration   Calories
Activity ID
125               Running                  65        450
126                Biking                  40        280
127               Running                  90        850
128               Walking                  30        160

In [17]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [20]:
df['Name'][(df['Cost']>3)]

Store 1    Chris
Store 2    Vinod
Name: Name, dtype: object

In [21]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [22]:
df.T

                 Store 1       Store 1    Store 2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod

In [24]:
df['Location'] = df.index

In [25]:
df

         Cost Item Purchased   Name Location
Store 1  22.5       Dog Food  Chris  Store 1
Store 1   2.5   Kitty Litter  Kevyn  Store 1
Store 2   5.0      Bird Seed  Vinod  Store 2

In [26]:
df.set_index('Location')

          Cost Item Purchased   Name
Location
Store 1   22.5       Dog Food  Chris
Store 1    2.5   Kitty Litter  Kevyn
Store 2    5.0      Bird Seed  Vinod

In [27]:
df.T

                 Store 1       Store 1    Store 2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod
Location         Store 1       Store 1    Store 2

In [28]:
df.reset_index()
df

         Cost Item Purchased   Name Location
Store 1  22.5       Dog Food  Chris  Store 1
Store 1   2.5   Kitty Litter  Kevyn  Store 1
Store 2   5.0      Bird Seed  Vinod  Store 2

In [29]:
df.set_index('Location')
df

         Cost Item Purchased   Name Location
Store 1  22.5       Dog Food  Chris  Store 1
Store 1   2.5   Kitty Litter  Kevyn  Store 1
Store 2   5.0      Bird Seed  Vinod  Store 2

In [30]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [31]:
df.T

                 Store 1       Store 1    Store 2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod

In [32]:
df['Location']=df.index
df

         Cost Item Purchased   Name Location
Store 1  22.5       Dog Food  Chris  Store 1
Store 1   2.5   Kitty Litter  Kevyn  Store 1
Store 2   5.0      Bird Seed  Vinod  Store 2

In [33]:
df.set_index(['Location','Name'])

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed

In [34]:
df = df.set_index(['Location','Name'])
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed

In [35]:
new_item = pd.Series({'Name':'Kevyn','Item Purchased':'Kitty Food','Cost':3.00,'Location':'Store 2'})
new_item

Cost                       3
Item Purchased    Kitty Food
Location             Store 2
Name                   Kevyn
dtype: object

In [37]:
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed

In [38]:
df = df.append(new_item)
df

TypeError: Can only append a Series if ignore_index=True or if the Series has a name

In [39]:
df = df.set_index([df.index,'Name'])
df

KeyError: 'Name'

In [40]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [41]:
df = df.set_index([df.index,'Name'])
df

               Cost Item Purchased
        Name
Store 1 Chris  22.5       Dog Food
        Kevyn   2.5   Kitty Litter
Store 2 Vinod   5.0      Bird Seed

In [42]:
df.index.names = ['Location','Name']
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed

In [44]:
df = df.append(pd.Series(data={'Cost':3.00,'Item Purchased':'Kitty Food'},name=('Store 2','Kevyn')))
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed
         Kevyn   3.0     Kitty Food

In [46]:
df = df.set_index(['Location','Cost'])
df

KeyError: 'Location'

In [47]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [48]:
df = df.set_index([df.index,'Name'])
df

               Cost Item Purchased
        Name
Store 1 Chris  22.5       Dog Food
        Kevyn   2.5   Kitty Litter
Store 2 Vinod   5.0      Bird Seed

In [49]:
df.index.names = ['Location','Name']
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed

In [50]:
df.append(pd.Series(data={'Cost':3.00,'Item Purchased':'Kitty Food'},name=('Store 2','Kevyn')))
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed

In [54]:
df = df.T
df

Location         Store 1                  Store 2
Name               Chris         Kevyn      Vinod
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed

In [55]:
df.T

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod     5      Bird Seed

In [56]:
df = df.set_index('Location')

KeyError: 'Location'

In [57]:
df = df.reset_index()
df

Location           index   Store 1                  Store 2
Name                         Chris         Kevyn      Vinod
0                   Cost      22.5           2.5          5
1         Item Purchased  Dog Food  Kitty Litter  Bird Seed

In [58]:
df.T

                   0               1
Location Name
index           Cost  Item Purchased
Store 1  Chris  22.5        Dog Food
         Kevyn   2.5    Kitty Litter
Store 2  Vinod     5       Bird Seed

In [59]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [60]:
df = df.set_index(['Name'])
df

       Cost Item Purchased
Name
Chris  22.5       Dog Food
Kevyn   2.5   Kitty Litter
Vinod   5.0      Bird Seed

In [61]:
df.reset_index()
df

       Cost Item Purchased
Name
Chris  22.5       Dog Food
Kevyn   2.5   Kitty Litter
Vinod   5.0      Bird Seed

In [62]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod